@{
    ViewBag.__Title = "数据库备份";
}

@using (Html.BeginForm("Backup", "Database", FormMethod.Post, new { @data_confirm = "true", @data_verify = "true", @data_waiting = "true" }))
{
    @Html.AntiForgeryToken()
    <table class="table-main">
        <thead>
            <tr>
                <th>数据库备份说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="supplementary">
                    1. 您可以在本页备份数据库，备份数据库存放于与当前数据库相同的目录下（默认为App_Data目录）。<br />
                    2. 备份数据库的文件名格式为：年_月_日_时_分_秒.resx。
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table-main">
        <thead>
            <tr>
                <th colspan="2">数据库备份</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:25%;"><span class="star">*</span>备份数据库文件名</td>
                <td><input name="filename" type="text" class="textbox" readonly="readonly" value="@(DateTime.Now.ToString("yyyy_MM_dd_HH_mm_ss") + ".resx")" data-emptyinfo="备份数据库文件名不能为空！" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center" colspan="2">
                    <button type="submit">提交</button>
                    <button type="reset">重置</button>
                </td>
            </tr>
        </tfoot>
    </table>
}