@{
    var Contest = ViewData["Contest"] as SDNUOJ.Entity.ContestEntity;

    ViewBag.__Title = "Contest New Topic";
    ViewBag.__ContestPageTitle = "New Topic";
}

@using (Html.BeginForm("New", "Forum", new { area = "Contest", cid = Contest.ContestID }, FormMethod.Post, new { @class = "form-horizontal", @data_verify = "true" }))
{
    @Html.AntiForgeryToken()
    <div class="dtable dtable-striped">
        <div class="dbody">
            <div class="row">
                <label for="title" class="col-sm-2 control-label"><span class="star">*</span> Title</label>
                <div class="col-sm-8">
                    <input id="title" name="title" type="text" maxlength="100" class="form-control" required="required" placeholder="Topic title" data-emptyinfo="Topic title can not be NULL!" />
                </div>
            </div>
            <div class="row">
                <label for="content" class="col-sm-2 control-label"><span class="star">*</span> Content</label>
                <div class="col-sm-8">
                    <textarea id="content" name="content" class="form-control" rows="10" required="required" placeholder="Your content" data-quicksubmit="true" data-emptyinfo="Topic content can not be NULL!"></textarea>
                </div>
            </div>
        </div>
        <div class="dfoot">
            <div class="row text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </div>
    </div>
}