<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="DotMaysWind.Data.Configuration.DatabaseSettings, DotMaysWind.Data, Version=0.3.2.0, Culture=neutral, PublicKeyToken=0d869d299c64cf93" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <!--Online Judge名称-->
    <add key="OnlineJudgeName" value="SDNU Online Judge" />
    <!--系统是否关闭-->
    <add key="SystemClosed" value="false" />
    <!--系统关闭时提示信息-->
    <add key="CloseInformation" value="System is CLOSED!" />
    <!--Online Judge域名(末尾需要有/)-->
    <add key="DomainUrl" value="http://localhost:8000/" />
    <!--上传目录Url(相对或绝对，末尾需要有/)-->
    <add key="UploadDirectoryUrl" value="/uploads/"/>
    <!--上传目录绝对或相对路径-->
    <add key="UploadDirectoryPath" value="uploads/" />
    <!--题目数据绝对或相对路径-->
    <add key="ProblemDataPath" value="data/" />
    <!--支持的语言名称(ID=显示名称=评测类型=文件扩展名=系数加成=是否在主提交显示)-->
    <add key="SupportLanguages" value="0=C=gcc=c=1.0=true|1=C++=g++=cpp=1.0=true|2=Java=java=java=2.0=true" />
    <!--用户名昵称过滤字符(用|分隔)-->
    <add key="UsernameKeywordsFilter" value="admin|guanliyuan|fuck|shit|shabi|cao" />
    <!--论坛发帖过滤字符(用|分隔)-->
    <add key="ForumKeywordsFilter" value="fuck|shit|shabi|傻B|傻逼|肏|屄|屌" />
    <!--系统是否启用日志记录-->
    <add key="LoggingEnable" value="true" />
    <!--系统是否启用内容缓存-->
    <add key="ContentCacheEnable" value="true" />
    <!--系统是否开启评测机接口-->
    <add key="EnableJudgerInterface" value="true" />
    <!--系统是否允许注册-->
    <add key="AllowRegister" value="true" />
    <!--系统是否允许自助找回密码-->
    <add key="AllowForgetPassword" value="true" />
    <!--系统是否允许用户信息修改-->
    <add key="AllowUserControl" value="true" />
    <!--系统是否允许站内邮件-->
    <add key="AllowUserMail" value="true" />
    <!--系统是否允许用户信息-->
    <add key="AllowUserInfo" value="true" />
    <!--系统是否允许代码查看-->
    <add key="AllowSourceView" value="true" />
    <!--系统是否允许公共提交(非竞赛)-->
    <add key="AllowMainSubmit" value="true" />
    <!--系统是否允许公共论坛(非竞赛)-->
    <add key="AllowMainForum" value="true" />
    <!--系统是否允许题库(非竞赛)-->
    <add key="AllowMainProblem" value="true" />
    <!--系统是否允许用户排名(非竞赛)-->
    <add key="AllowMainRanklist" value="true" />
    <!--系统是否允许提交查看(非竞赛)-->
    <add key="AllowMainStatus" value="true" />
    <!--系统是否允许公共论坛(非竞赛)-->
    <add key="AllowResource" value="true" />
    <!--系统是否允许竞赛-->
    <add key="AllowContest" value="true" />
    <!--系统是否允许下载代码-->
    <add key="AllowDownloadSource" value="true" />
    <!--系统是否允许显示提交状态(非竞赛)-->
    <add key="AllowMainSubmitStatus" value="true" />
    <!--论坛回帖是否站内邮件通知-->
    <add key="ReplyPostMailNotification" value="true" />
    <!--题目起始ID(根据数据库情况设置)-->
    <add key="ProblemSetStartID" value="1000" />
    <!--代码、讨论版和站内信提交间隔限制(0为不限制)-->
    <add key="SubmitInterval" value="10" />
    <!--单IP用户注册间隔限制(0为不限制)-->
    <add key="RegisterInterval" value="10" />
    <!--评测机重新获取多少秒前评测失败的提交(0为不获取)-->
    <add key="CheckJudgeErrorSolution" value="60" />
    <!--验证码超时时间-->
    <add key="CheckCodeTimeout" value="180" />
    <!--最近竞赛数据源-->
    <add key="RecentContestURL" value="http://contests.acmicpc.info/contests.json" />
    <!--系统账户名(站内系统邮件发件人)-->
    <add key="SystemAccount" value="admin" />
    <!--电子邮件SMTP服务器地址-->
    <add key="EmailSMTPServer" value="EMAIL_SERVER" />
    <!--电子邮件账户名-->
    <add key="EmailUsername" value="EMAIL_USERNAME" />
    <!--电子邮件账户密码-->
    <add key="EmailPassword" value="EMAIL_PASSWORD" />
    <!--电子邮件显示的发件人显示名-->
    <add key="EmailAddresser" value="&quot;NO-REPLY(SDNU-ACM-ICPC-TEAM)&quot;&lt;EMAIL_ADDRESS&gt;" />
    <!--其他-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <!--如果需要在Windows上使用SQLite，请添加如下内容，并将System.Data.SQLite.dll一同放置于bin目录下-->
      <!--<remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.87.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>-->
      <!--如果需要在Linux上使用SQLite，请添加如下内容-->
      <!--<remove invariant="Mono.Data.Sqlite"/>
      <add name="Mono Sqlite Data Provider" invariant="Mono.Data.Sqlite" description="Mono Framework Data Provider for SQLite" type="Mono.Data.Sqlite.SqliteFactory, Mono.Data.Sqlite, Version=2.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756"/>-->
      <!--如果需要使用MySQL，请添加如下内容，并将MySql.Data.dll一同放置于bin目录下-->
      <!--<remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />-->
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--如果使用JET连接Access请使用如下连接字符串-->
    <!--<add name="OLEDBCONN" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|\SDNUOJ.mdb" providerName="System.Data.OleDb" />-->
    <!--如果使用ACE连接Access请使用如下连接字符串-->
    <!--<add name="OLEDBCONN" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SDNUOJ.mdb;" providerName="System.Data.OleDb"/>-->
    <!--如果使用SQLite请使用如下连接字符串-->
    <!--<add name="SQLITEDBCONN" connectionString="Data Source=|DataDirectory|\SDNUOJ.db;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite" />-->
    <!--<add name="SQLITEDBCONN" connectionString="Data Source=|DataDirectory|SDNUOJ.db;version=3" providerName="Mono.Data.Sqlite" />-->
    <!--如果使用SQLServer请使用如下连接字符串-->
    <add name="SQLDBCONN" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\SDNUOJ.mdf;Initial Catalog=SDNUOJDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--如果使用MySQL请使用如下连接字符串-->
    <!--<add name="MYSQLDBCONN" connectionString="Database=SDNUOJDB;Data Source=SERVERADDRESS;User Id=USERNAME;Password=PASSWORD" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
  <dataConfiguration defaultDatabase="SQLDBCONN" />
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="OperationTarget" xsi:type="Null" />
      <target name="ErrorTarget" xsi:type="Null" />
    </targets>
    <rules>
      <logger name="Operation" minlevel="Info" maxlevel="Warn" writeTo="OperationTarget" />
      <logger name="Error" minlevel="Error" maxlevel="Error" writeTo="ErrorTarget" />
    </rules>
  </nlog>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" cacheMemoryLimitMegabytes="256" pollingInterval="00:01:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <system.web>
    <authentication mode="Forms">
      <forms name="_oj_" protection="All" timeout="360" requireSSL="false" enableCrossAppRedirects="false" cookieless="UseDeviceProfile" slidingExpiration="true" loginUrl="/user/login" />
    </authentication>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <customErrors mode="On" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="DynamicPageCache" duration="10" location="Any" />
          <add name="MinimumPageCache" duration="2" location="Any" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" executionTimeout="300" maxRequestLength="40960" requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="Session" />
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="RoleManager" />
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
      <remove name="AnonymousIdentification" />
      <remove name="Profile" />
      <remove name="ErrorHandlerModule" />
      <remove name="ServiceModel" />
    </modules>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <defaultDocument>
      <files>
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
