@{
    ViewBag.__Title = "用户密码修改";
}

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @data_confirm = "true", @data_verify = "true" }))
{
    @Html.AntiForgeryToken()
    <table class="table-main">
        <thead>
            <tr>
                <th>用户密码修改说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="supplementary">
                    1. 您可以在本页面修改指定用户的密码，密码一旦修改无法撤销。
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table-main">
        <thead>
            <tr>
                <th colspan="2">用户密码修改</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:25%;"><span class="star">*</span>用户名</td>
                <td><input name="username" type="text" maxlength="20" class="textbox" value="@ViewBag.UserName" data-emptyinfo="您没有输入用户名，请重新输入！" data-regex="^\w+$" data-invalidinfo="用户名输入错误，请重新输入！" /></td>
            </tr>
            <tr>
                <td style="width:25%;"><span class="star">*</span>新密码</td>
                <td><input name="newpassword" type="password" maxlength="20" class="textbox" data-emptyinfo="您没有输入用户新密码，请重新输入！" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center" colspan="2">
                    <button type="submit">提交</button>
                    <button type="reset">重置</button>
                </td>
            </tr>
        </tfoot>
    </table>
}