@{
    ViewBag.__Title = "用户权限编辑";
}

@using (Html.BeginForm("PermissionEdit", "User", FormMethod.Post, new { @data_confirm = "true", @data_verify = "true", @data_waiting = "true" }))
{
    @Html.AntiForgeryToken()
    <table class="table-main">
        <thead>
            <tr>
                <th>用户权限编辑说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="supplementary">
                    1. 您可以在本页面设置指定用户的权限，用户权限可以按Ctrl进行多选，不选择则为取消权限，本页不显示用户已有权限。<br />
                    2. 本页不支持设置评测机权限，如需设置评测机权限请访问相关页面。<br />
                    3. SourceView为非管理员权限，所有管理权限自动添加Administrator权限，Administrator权限可以访问系统后台，SuperAdministrator为全部权限。
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table-main">
        <thead>
            <tr>
                <th colspan="2">用户权限编辑</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:25%;"><span class="star">*</span>用户名</td>
                <td><input name="username" type="text" maxlength="20" class="textbox" value="@ViewBag.UserName" data-emptyinfo="您没有输入用户名，请重新输入！" data-regex="^\w+$" data-invalidinfo="用户名输入错误，请重新输入！" /></td>
            </tr>
            <tr>
                <td style="width:25%;"><span class="star">*</span>用户权限</td>
                <td>
                    <select name="permission" multiple="multiple" class="listbox">
                        <option value="2">SourceView</option>
                        <option value="128">Administrator</option>
                        <option value="384">NewsManage</option>
                        <option value="640">ResourceManage</option>
                        <option value="1152">ForumManage</option>
                        <option value="2176">ProblemManage</option>
                        <option value="4224">ContestManage</option>
                        <option value="8320">SolutionManage</option>
                        <option value="1073741822">SuperAdministrator</option>
                    </select>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center" colspan="2">
                    <button type="submit">提交</button>
                </td>
            </tr>
        </tfoot>
    </table>
}