@model SDNUOJ.Entity.UserForgetPasswordEntity

@{
    ViewBag.__Title = "Reset Password";
}

<div class="page-title row text-center">
    <h2>Reset Password</h2>
</div>

@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { @data_verify = "true" }))
{
    @Html.AntiForgeryToken()
    <table class="table table-striped table-condensed table-nohead">
        <thead>
            <tr>
                <td colspan="2" class="text-center">
                    <span class="label label-primary">Note</span>
                    <span>Please fill in the blank below, and create a new password.</span>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-firstcol"><span class="star">*</span> Username</td>
                <td><input name="username" type="text" maxlength="20" class="form-control input-middle" required="required" data-emptyinfo="Username can not be NULL!" data-regex="^\w+$" data-invalidinfo="Username is INVALID!" /></td>
            </tr>
            <tr>
                <td class="td-firstcol"><span class="star">*</span> New Password</td>
                <td><input id="txt-password" name="password" type="password" maxlength="20" class="form-control input-middle" required="required" data-emptyinfo="Password can not be NULL!" /></td>
            </tr>
            <tr>
                <td class="td-firstcol"><span class="star">*</span> Confirm New Password</td>
                <td><input name="password2" type="password" maxlength="20" class="form-control input-middle" required="required" data-emptyinfo="Confirm password can not be NULL!" data-comparedto="txt-password" data-notequalinfo="Two passwords are not match!" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="text-center">
                    <input name="rid" type="hidden" value="@Model.HashKey" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </td>
            </tr>
        </tfoot>
    </table>
}